.forgot-page {
  max-width: 500px;
  margin: auto;
  margin-top: 4rem;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.forgot-page h1 {
  font-weight: 400;
  font-size: 1.8rem;
}
.forgot-page input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid black;
  width: 200px;
  font-size: 1rem;
}
.forgot-page input:focus {
  border-bottom: 3px solid black;
}
.forgot-page input::placeholder {
  font-size: 1rem;
}
.btn {
  all: unset;
  padding: 0.5rem 1.25rem;
  background-color: blue;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.btn:disabled {
  cursor: not-allowed;
  background-color: #aaa;
}
